<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <style>
        .odd-row {
            background-color: #ADD8E6; /* ライトブルー */
        }
        .even-row {
            background-color: #90EE90; /* ライトグリーン */
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user, iterStat : ${users}" th:class="${iterStat.index % 2 == 0} ? 'even-row' : 'odd-row'">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
